<% if ((!post.prev || !post.next) && post.label && post.alternates && post.alternates.length > 0) { %>
    <% const alternatePost = site.all_posts.toArray().find((p) => p.label === post.label && p.lang !== post.lang); %>
    <% if (alternatePost) { %>
        <% post.prev = post.prev || alternatePost.prev; %>
        <% post.next = post.next || alternatePost.next; %>
        <% if (post.prev && post.prev.lang !== post.lang) { %>
            <% const alternatePrevPost = site.all_posts.toArray().find((p) => p.label === post.prev.label && p.lang === post.lang); %>
            <% if (alternatePrevPost) { %>
                <% post.prev = alternatePrevPost; %>
            <% } %>
        <% } %>
        <% if (post.next && post.next.lang !== post.lang) { %>
            <% const alternateNextPost = site.all_posts.toArray().find((p) => p.label === post.next.label && p.lang === post.lang); %>
            <% if (alternateNextPost) { %>
                <% post.next = alternateNextPost; %>
            <% } %>
        <% } %>
    <% } %>
<% } %>
<% if (post.prev || post.next) { %>
<nav id="article-nav">
    <% if (post.prev) { %>
        <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
        <strong class="article-nav-caption"><%= __('sidebar.newer') %></strong>
        <p class="article-nav-title">
        <% if (post.prev.title) { %>
            <%= post.prev.title %>
        <% } else { %>
            (no title)
        <% } %>
        </p>
        <i class="icon fa fa-chevron-right" id="icon-chevron-right"></i>
    </a>
    <% } %>
    <% if (post.next) { %>
        <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
        <strong class="article-nav-caption"><%= __('sidebar.older') %></strong>
        <p class="article-nav-title"><%= post.next.title %></p>
        <i class="icon fa fa-chevron-left" id="icon-chevron-left"></i>
        </a>
    <% } %>
</nav>
<% } %>