<!DOCTYPE html>
<html lang="<%= page.lang || 'en' %>">
<head>
    <meta charset="utf-8">
    <%
        var title = page.title;
        if (is_archive()) {
            title = __('index.archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('index.category') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('index.tag') + ': ' + page.tag;
        }
    %>
    <title><% if (title) { %><%= title %> <% } else { %><%= config.title %><% } %></title>
    <% if (page.layout === 'redirect') { %>
        <meta http-equiv="refresh" content="0; URL=<%= url_for(page.target.path) %>" />
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%- autoCanonical(config, page) %>
    <% if (config.root && config.root.indexOf('blog') < 0) { %><link rel="canonical" href="https://locize.com/blog/<%- page.path %>"/><% } %>
    <% if (page.tags) {
        var keywords = [];
        for (var i in page.tags.data) {
            keywords.push(page.tags.data[i].name);
        }
    %>
        <meta name="keywords" content="<%= keywords.join(',') %>" />
    <% } %>
    <%- open_graph({
        image:          thumbnail(page) ? (config.root + thumbnail(page)) : (theme.customize.logo.root + 'images/locize_color.svg'),
        fb_app_id:      theme.miscellaneous.open_graph.fb_app_id,
        fb_admins:      theme.miscellaneous.open_graph.fb_admins,
        twitter_id:     theme.miscellaneous.open_graph.twitter_id,
        google_plus:    theme.miscellaneous.open_graph.google_plus,
    }) %>
    <%- meta(page) %>

    <% if (theme.rss) { %>
        <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="<%= theme.rssType || "application/atom+xml" %>" />
    <% } %>

    <% 
        if (page.alternates && page.alternates.length) {
            for (var ai = 0, al = page.alternates.length; ai < al; ai++) {
                var alternate = page.alternates[ai]
                if (alternate && page.lang !== alternate.lang) {
                    var alternativePath = url_for(alternate.path);
                    %>
                        <link rel="alternative" hreflang="<%= alternate.lang %>" href="<%= alternativePath %>">
                    <%
                }
            }
        }
    %>

    <% if (theme.customize.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.customize.favicon) %>" />
    <% } %>

    <%- css('libs/font-awesome/css/font-awesome.min') %>
    <%- css('libs/titillium-web/styles') %>
    <%- css('libs/source-code-pro/styles') %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <%- css('css/style') %>

    <%- js('libs/jquery/2.0.3/jquery.min') %>
    <%- partial('plugin/scripts', { isHead: true }) %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <%- seoStructuredData() %>
</head>
