<%- partial('comment/scripts') %>
<%- partial('plugin/scripts') %>

<!-- Custom Scripts -->
<%- js('js/main') %>

<script src="//cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
    function enableCookies() {
        var e = document.createElement("script");
        e.type = "text/javascript";
        e.async = true;
        e.src = "https://www.googletagmanager.com/gtag/js?id=<%= theme.plugins.google_analytics %>";
        var a = document.getElementsByTagName("script")[0];
        a.parentNode.insertBefore(e, a);
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '<%= theme.plugins.google_analytics %>', { 'anonymize_ip': true });
        gtag('config', 'UA-78143856-1', { 'anonymize_ip': true }); // old google analytics
    }

    function disableCookies() {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    window.cookieconsent.initialise({
        palette: {
            popup: {
                background: "#2196f3",
                text: "#ffffff"
            },
            button: {
                background: "#1976d2",
                text: "#ffffff"
            }
        },
        theme: "edgeless",
        type: "opt-in",
        content: {
            message: "This website uses cookies to ensure you get the best experience on our website.",
            allow: "Accept",
            dismiss: "Decline",
            link: "learn",
            href: "https://locize.com/privacy.html"
        },
        elements: {
            deny: '<a style="font-weight: 100; color: #ffffffa8; font-size: smaller;" aria-label="deny cookies" role="button" tabindex="0" class="cc-btn cc-deny">Decline</a>'
        },
        onInitialise: function (status) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                // enable cookies
                enableCookies();
            }
            if (type == 'opt-out' && !didConsent) {
                // disable cookies
                disableCookies();
            }
        },
        onStatusChange: function(status, chosenBefore) {
            var type = this.options.type;
            var didConsent = this.hasConsented();
            if (type == 'opt-in' && didConsent) {
                // enable cookies
                enableCookies();
            }
            if (type == 'opt-out' && !didConsent) {
                // disable cookies
                disableCookies();
            }
        },
        onRevokeChoice: function() {
            var type = this.options.type;
            if (type == 'opt-in') {
                // disable cookies
                disableCookies();
            }
            if (type == 'opt-out') {
                // enable cookies
                enableCookies();
            }
        }
    });
</script>