<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <meta charset="utf-8"/>
    <%
        var title = page.title;
        if (is_archive()) {
            title = __('index.archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('index.category') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('index.tag') + ': ' + page.tag;
        }
    %>
    <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <%
      var keywords = [];
      if (page.tags) {
        for (var i in page.tags.data) {
            keywords.push(page.tags.data[i].name);
        }
      }
      keywords = keywords.concat(('localization,internationalization,localize,translate,locize,l10n,i18n,javascript,nodejs,localization as a service,laas').split(','));
    %>
    <meta name="keywords" content="<%= keywords.join(',') %>" />
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:      theme.miscellaneous.open_graph.fb_app_id,
        fb_admins:      theme.miscellaneous.open_graph.fb_admins,
        twitter_id:     theme.miscellaneous.open_graph.twitter_id,
        google_plus:    theme.miscellaneous.open_graph.google_plus
    }) %>
    <%- meta(page) %>

    <% if (theme.rss) { %>
        <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="<%= theme.rssType || "application/atom+xml" %>" />
    <% } %>

    <% if (theme.customize.favicon) { %>
        <link rel="icon" href="<%- url_for(theme.customize.favicon) %>" />
    <% } %>
    <!--
    CSS
    ==================================================
    -->
    <!-- Bootstrap 3-->
    <link href="css/landingpage/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
    <!-- Template Styles-->
    <link href="css/landingpage/style.css" rel="stylesheet" media="screen"><!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lte IE 7]><script src="js/IE8.js" type="text/javascript"></script><![endif]-->
    <!--[if lt IE 7]><link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/><![endif]-->
    <script>window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://locize.com/privacy/","theme":"dark-bottom"};</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <% if (theme.plugins.google_analytics) { %>
        <%- partial('plugin/google-analytics') %>
    <% } %>

    <!-- LOCIZIFY -->
    <script src="https://cdn.locize.io/locizify.min.js"></script>
    <script>
      locizify.init({
        // required
        // saveMissing: true,
        fallbackLng: 'en',
        backend: {
          projectId: '3d0aa5aa-4660-4154-b6d9-907dbef10bb2',
          apiKey: 'key', // only needed if you like to add missing segments
          referenceLng: 'en',
          version: 'production'
        },

        ignoreIds: ['nudgespotInappContainer', 'nudgespotInappMessagesContainer', 'nudgespotInappConversationsContainer', '__bs_notify__'],
        ignoreClasses: ['nudgespot-clean'],

        namespace: 'landingpage'
      });

      locizify.i18next.on('languageChanged', function(lng) {
        updateSelect();
      });
    </script>
  </head>
  <body style="display: none;">
    <!--
    NAVBAR
    ==================================================
    -->
    <nav role="navigation" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <!-- Replace text with your app name or logo image--><a href="<%= config.root %>" style="padding: 0;" class="navbar-brand"><img src="/images/locize_color.svg" style="height: 35px; margin-top: 8px;"></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a onclick="$('.detail').animatescroll({padding:71});">Benefits</a></li>
            <li><a onclick="$('.pricing').animatescroll({padding:71});">Pricing</a></li>
            <li><a href="<%= config.root %>integration.html">Docs</a></li>
            <li><a href="<%= config.root %>categories/Post/">Blog</a></li>
            <!-- <li><a onclick="$('header').animatescroll({padding:71});">Start</a></li>
            <li><a onclick="$('.detail').animatescroll({padding:71});">Features</a></li>
            <li><a onclick="$('.features').animatescroll({padding:71});">Benefits</a></li> -->
            <li><a onclick="$('.social').animatescroll({padding:71});">Contact</a></li>
            <li><a href="https://www.locize.io/login">Login</a></li>
            <!-- <li><a onclick="$('.intro').animatescroll({padding:71});">Intro</a></li> -->
          </ul>
        </div>
      </div>
    </nav>
    <!--
    HEADER
    ==================================================
    -->
    <header>
      <div class="container">
        <div class="header-btns" translated>
          <a class="btn-header-login" href="https://www.locize.io/login">Login</a>
          <select id="languageSelect" class="minimal" onChange="handleSelectChange()">
          </select>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1><img src="<%= config.root %>images/locize_white.svg" style="max-height: 200px"></h1>
            <p class="lead">Bridging the gap between translation and development.</p>
            <div class="carousel-macbook">
              <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
                </ol>
                <!-- Wrapper for slides-->
                <div class="carousel-inner">
                  <div class="item active"><img src="<%= config.root %>images/howto/add_namespace.gif" alt="App Screen 1"></div>
                  <div class="item"><img src="<%= config.root %>images/howto/work_keys.gif" alt="App Screen 2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--
    PURCHASE
    ==================================================
    -->
    <section class="purchase">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <h1>GET TRANSLATED TODAY. EFFORTLESS & RISKFREE.</h1>
            <p class="lead">We at locize help you to solve your localization and translation process, decreasing development time and cost.</p>
            <div>
              <a class="btn btn-signup" href="https://www.locize.io/register">Sign Up</a>
              <a class="btn btn-login" href="https://www.locize.io/login">Login</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--
    PAYOFF
    ==================================================
    -->
    <section class="payoff">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Building a multinational business can be challenging. Locize gets you translated and keeps you focused on your product.</h1>
          </div>
        </div>
      </div>
    </section>
    <!--
    DETAILS
    ==================================================
    -->
    <a href="#" name="features" ></a>
    <section class="detail">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="carousel-example-generic-2" class="carousel slide">
              <!-- Wrapper for slides-->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-12 col-md-offset-1 col-md-6">
                      <h1>FLEXIBLE INTEGRATION</h1>
                      <p>Choose between flexible options meeting your needs. From integration for wordpress to instrumenting your react.js or angular application for i18n. All as easy as dropping one line to your code.</p>
                      <p>There is no need for extra infrastructure - your translations will be served from our content delivery network.</p>
                      <p>Your webproject stays connected with locize. No more moving files around. Always keeping the overview.</p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                      <div class="app-screenshot"><img src="<%= config.root %>img/landingpage/screenshots/app_overview.png" alt="App Screen 1" class="img-responsive"></div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-sm-12 col-md-offset-1 col-md-6">
                      <h1>TRANSLATION MANAGEMENT</h1>
                      <p>locize provides a complete management. Your content gets automatically parsed from your website and transfered to your locize project.</p>
                      <p>From there you start translating while always being uptodate over current progress.</p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                      <div class="app-screenshot"><img src="<%= config.root %>img/landingpage/screenshots/app_tm.png" alt="App Screen 2" class="img-responsive"></div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-sm-12 col-md-offset-1 col-md-6">
                      <h1>PROFESSIONAL TRANSLATION</h1>
                      <p>Needing extra help - or prefer to completely outsource the localization - choose one of our translation service partners.</p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                      <div class="app-screenshot"><img src="<%= config.root %>img/landingpage/screenshots/app_order.png" alt="App Screen 3" class="img-responsive"></div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-sm-12 col-md-offset-1 col-md-6">
                      <h1>LOCALIZATION LIFECYCLE</h1>
                      <p>locize enables you to separate your development and translation process by providing a complete localization process.</p>
                      <p>Keep translating while the development adds new features to your webproject. Doing agile, lean or waterfall projects all is possible with the provided flexible versioning.</p>
                    </div>
                    <div class="col-sm-12 col-md-5">
                      <div class="app-screenshot"><img src="<%= config.root %>img/landingpage/screenshots/app_version.png" alt="App Screen 4" class="img-responsive"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Indicators-->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic-2" data-slide-to="3"></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--
    FEATURES
    ==================================================
    -->
    <section class="features">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="circle"><i class="icon-config"></i></div>
            <h2>Integrated online translation services</h2>
            <p>Having some bottleneck or want to completely outsource the translation. Get the translations done by one of our partners. The best offer is just one click away.</p>
          </div>
          <div class="col-md-4">
            <div class="circle"><i class="icon-bagshop"></i></div>
            <h2>Transparent and fair pricing</h2>
            <p>Our pricing model is variable. We prefer to have the pricing to grow with your success. Don't pay to much just by scratching the border of the next bigger plan.</p>
          </div>
          <div class="col-md-4">
            <div class="circle"><i class="icon-like"></i></div>
            <h2>Zero risk</h2>
            <p>Not only do you get a 14d free trial. On top of it you take no risks. If you're unhappy with our service you can take your translations with you and use them without any changes using the i18next framework.</p>
          </div>
        </div>
      </div>
    </section>
    <!--
    SOCIAL
    ==================================================
    -->
    <section class="social">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Connect with us</h2>
            <% for (var i in theme.customize.social_links) { %>
                <% if (theme.customize.social_links[i]) { %>
                <a href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank" class="icon-<%= i %>"></a>
                <% } %>
            <% } %>
            <a href="mailto:support@locize.com" class="icon-mail"></a>
          </div>
        </div>
      </div>
    </section>
    <!--
    PRICING
    ==================================================
    -->
    <a href="#" name="pricing"></a>
    <section class="pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>PRICING - 14d free trial</h1>
            <p class="lead">We prefer a transparent pricing model - you pay based on your usage:</p>

            <div class="pricing-table">
              <table>
                <tbody>
                  <tr>
                    <td>Monthly Subscription</sup></td>
                    <td translated>$5</td>
                  </tr>
                  <tr>
                    <td>Per Word stored</td>
                    <td translated>$0.008</td>
                  </tr>
                  <tr>
                    <td>Per Download to your application</td>
                    <td translated>$0.0002</td>
                  </tr>
                </tbody>
              </table>
              <small style="font-size: 0.6em; text-transform: none;">prices excl. VAT | billed on a recurring monthly basis</small>
            </div>
            <div class="pricing-table pricing-table-context">
              <div class="row">
                <h3>PRICE IN CONTEXT</h3>
                <div class="col-sm-12 col-md-6">
                  <h4>Average App</h4>
                  <table>
                    <tbody>
                      <tr>
                        <td>Words</sup></td>
                        <td translated>2,000</td>
                      </tr>
                      <tr>
                        <td>Sessions</td>
                        <td translated>40,000</td>
                      </tr>
                      <tr>
                        <td><strong>Estimate</strong></td>
                        <td translated><strong>$29</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-12 col-md-6">
                  <h4>Ecommerce Website</h4>
                  <table>
                    <tbody>
                      <tr>
                        <td>Words</sup></td>
                        <td translated>6,000</td>
                      </tr>
                      <tr>
                        <td>Sessions</td>
                        <td translated>160,000</td>
                      </tr>
                      <tr>
                        <td><strong>Estimate</strong></td>
                        <td translated><strong>$85</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="pricing-table pricing-table-addon">
              <h3>High Volume, Opensource or Charity project?</h3>
              <p>Contact us for a special discount.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--
    VIDEO
    ==================================================
    -->
    <!-- <section class="features intro">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <iframe type="text/html" width="528" height="298" src="https://www.youtube.com/embed/8ODV9MSUP5Y" frameborder="0" class="youtube"></iframe>
          </div>
        </div>
      </div>
    </section> -->
    <!--
    GET IT
    ==================================================
    -->
    <section class="get-it">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Have questions?</h1>
            <a class="btn" href="mailto:support@locize.com">Contact us!</a>
          </div>
          <div class="col-md-12">
            <hr>
            <ul class="footer-links">
              <li><a onclick="$('.detail').animatescroll({padding:71});">Features</a></li>
              <li><a onclick="$('.pricing').animatescroll({padding:71});">Pricing</a></li>
              <li><a href="<%= config.root %>integration.html">Docs</a></li>
              <li><a href="<%= config.root %>categories/Post/">Blog</a></li>
              <li style="color: #ccc;" translated> | </li>
              <li class="footer-link-light"><a href="<%= config.root %>privacy.html">privacy policy</a></li>
              <li class="footer-link-light"><a href="<%= config.root %>terms.html">terms of service</a></li>
              <li class="footer-link-light"><a href="<%= config.root %>beta.html">beta disclaimer</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--
    JAVASCRIPT
    ==================================================
    -->
    <script src="js/landingpage/jquery.js"></script>
    <script src="js/landingpage/bootstrap.min.js"></script>
    <script src="js/landingpage/animatescroll.js"></script>
    <script src="js/landingpage/scripts.js"></script>
    <script src="js/landingpage/retina.min.js"></script>
    <script>(function(d,n){var s,a,p;s=document.createElement("script");s.type="text/javascript";s.async=true;s.src=(document.location.protocol==="https:"?"https:":"http:")+"//cdn.nudgespot.com"+"/nudgespot.js";a=document.getElementsByTagName("script");p=a[a.length-1];p.parentNode.insertBefore(s,p.nextSibling);window.nudgespot=n;n.init=function(t){function f(n,m){var a=m.split('.');2==a.length&&(n=n[a[0]],m=a[1]);n[m]=function(){n.push([m].concat(Array.prototype.slice.call(arguments,0)))}}n._version=0.1;n._globals=[t];n.people=n.people||[];n.params=n.params||[];m="track register unregister identify set_config people.delete people.create people.update people.create_property people.tag people.remove_Tag".split(" ");for(var i=0;i<m.length;i++)f(n,m[i])}})(document,window.nudgespot||[]);nudgespot.init("f8e0bca68e1111aba67da75647c0406a");</script>
    <script>
      // location change
      var ele = document.getElementById('languageSelect');
      var availableLngs = [];

      // create select options based on project languages
      locizify.getLanguages(function(err, lngs) {
        availableLngs = Object.keys(lngs || {});
        availableLngs.forEach(function(l) {
          var lng = lngs[l];
          if (lng.translated.production < 0.9) return;
          var optEle = document.createElement("OPTION");
          optEle.setAttribute('value', l);
          optEle.innerHTML = lng.nativeName;
          ele.appendChild(optEle);
        });

        updateSelect();
      });

      function updateSelect() {
        var selected;
        locizify.i18next.languages.forEach(function(l) {
          if (!selected && availableLngs.indexOf(l) > -1) selected = l;
        });

        ele.value = selected || 'en';
      }

      function handleSelectChange() {
        var value = ele.options[ele.selectedIndex].value;
        changeLanguage(value);
      }

      function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
          return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
          return uri + separator + key + "=" + value;
        }
      }
      function changeLanguage(lng) {
        window.location = updateQueryStringParameter(window.location.href, 'lng', lng);
      }
    </script>
  </body>
</html>
